$color: #fc7251;
$lightColor: #999;
$borderColor: #e8e8e8;
$labelColor: #333;
$textAreaBg: #fafafa;
$textBaseColor: #666;
$bg: #f4f4f4;
$btnDisabled: grey;
$smFontSize: 24px;
$baseFontSize: 28px;
$lgFontSize: 32px;
$bigFontSize: 36px;
$borderWidth: 1px;
/* Tabbar component */
$tabbar-background-color: #ffffff;
$tabbar-item-color: #010101;
$tabbar-selected-background-color: #ffffff;
$tabbar-item-selected-color: #fe0101;
